@media screen and (min-width: 550px) {
    #index {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    #hero, #news, #join, #spotlights {
        grid-column: 1/7;
    }

    #hero {
        grid-row: 1/2;
        height: 350px;
        grid-template-rows: repeat(6, 1fr);
    }

    #news {
        grid-row: 2/3;
        height: 200px;
    }

    #weather {
        width: 100%;
    }

    #spotlights {
        display: flex;
        height: 230px;
        grid-row: 3/4;
    }

    #spot1, #spot2 {
        width: 90%;
    }

    #spot1 section p {
        margin: 5px;
        padding: 0px;
    }

    #spot3 {
        display: none;
    }

    #weather h4 {
        margin: 5px;
    }

    #join {
        grid-row: 4/5;
    }

    #event {
        grid-column: 1/5;
        grid-row: 5/6;
    }

    #weather {
        grid-column: 5/7;
        grid-row: 5/6;
    }


    /* ------ Discover Page ------ */

    #discover div {
        transition: .2s;
    }
    #discover div:hover {
        transform: scale(1.1);
        box-shadow: 5px 5px 15px black;
    }
}