@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');

div {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    color: #6E494B;
}

p, li, a, figcaption, span {
    font-family: 'Roboto', sans-serif;
    color: #6E494B;
    font-size: 1.5rem;
}

#logo {
    display: flex;
}

#navlogo {
    width: 75px;
}

#logo h1 {
    margin: auto 15px;
}

#sociallinks {
    width: 188px;
    margin: 20px auto 0px;
}

.social {
    width: 40px;
    margin: auto 10px;
}

.ham {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    background-color: #CC9399;
    margin: 10px 0px 0px;
    padding: 4px;
}

ul {
    margin: 0;
}

nav {
    margin: 0 auto;
    background-color: #CC9399;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover, .ham:hover, #active {
    background-color: #fff;
    color: #6E494B;
}

.ham:hover {
    border: 4px solid #6E494B;
    padding: 0;
}

.navigation a:hover, #active {
    border: 4px solid #6E494B;
    padding: 6px;
}

nav li {
    display: none;
}

.responsive li {
    display: block;
}

header {
    text-align: center;
}


/* ----------- Home Content ----------- */

main {
    text-align: center;
}

* {box-sizing: border-box;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    width: 100%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/4 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading Animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}


@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}


#cta {
    text-decoration: none;
    background-color: #CC9399;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: 40px;
}

#cta:hover {
    background-color: #fff;
    color: #6E494B;
    border: 3px solid #6E494B;
    padding: 2px;
}

#summary {
    margin-top: 20px;
}

#summary img {
    width: 100%;
}

#summary p {
    margin-top: 0px;
}

#summary a {
    text-decoration: none;
    background-color: #CC9399;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

#summary a:hover {
    background-color: #fff;
    color: #6E494B;
    border: 3px solid #6E494B;
    padding: 2px;
}

#weather {
    background-color: #CC9399;
    margin-top: 40px;
}

#weather p, #weather span, #weather h4, #weather figcaption {
    color: #fff;
    font-size: 1em;
}

#weather h4 {
    padding-top: 20px;
}

#weatherpic figure {
    margin-top: 0px;
}

#weathergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#wind {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#services-cta {
    margin-top: 30px;
    position: relative;
}

#services-cta img {
    width: 100%;
}

#services-cta a {
    text-decoration: none;
    background-color: #CC9399;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

#services-cta a:hover {
    background-color: #fff;
    color: #6E494B;
    border: 3px solid #6E494B;
    padding: 2px;
}


/* ----------- Temples ----------- */

/* .heart:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
} */

#temple_content {
    display: block;
}

#temple_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin-top: 40px;
}

#temple_cards section {
    background-color: #CC9399;
    width: 400px;
    margin: 20px;
    padding: 20px;
    border: 7px solid #6E494B;
    border-radius: 20px;
    box-shadow: 4px 4px 20px black;
}

#temple_cards section p, #temple_cards section a {
    color: #fff;
}

#temple_cards section a {
    text-decoration: none;
}

#temple_cards img {
    width: 150px;
    display: block;
    margin: 15px auto;
}


/* ----------- Reservation ----------- */


#reservation_content {
    display: block;
}

#formContent {
    margin: 20px;
}

form fieldset {
    margin: 2em auto;
    border: 1px solid #6E494B;
    border-radius: 10px;
    padding: .5rem 2%;
    justify-items: center;
    max-width: 500px;
}

label {
    width: 100%;
}

form legend {
    color: #6E494B;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #6E494B;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    /* max-width: 20rem; */
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #CC9399;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}


/* ----------- Thank You ----------- */

#thank_content {
    display: block;
}

#thank_content h1 {
    margin-top: 50px;
}

#thank_content p {
    margin-bottom: 50px;
}

#thank_content a {
    text-decoration: none;
    background-color: #CC9399;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

#thank_content a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #6E494B;
    padding: 6px;
    border-radius: 10px;
    border: 4px solid #6E494B;
}


/* ----------- Footer ----------- */

footer {
    text-align: center;
    padding: 0 30px;
}

footer hr {
    margin-top: 30px;
}

#footlogo {
    width: 200px;
    margin: 20px auto 20px;
    display: block;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    font-weight: bolder;
}

footer a, p, span {
    font-size: 1.2em;
}

#currentyear, #lastdate {
    font-size: 1em;
}