.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards img {
    margin: 10px;
    border: 3px solid black;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
    width: 200px;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #000;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

nav li {
    list-style-type: none;
    display: none;
}

.responsive li {
    display: block;
}

li:first-child {
    display: block;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
}

.navigation a:hover {
    color: #000;
    background-color: #fff;
}

@media screen and (min-width: 900px) {
    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li:first-child {
        display: none;
    }
}